doc/workflow_example_RAG_bot.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.captions }}",
        "options": {
          "systemMessage": "=**ROLE:**\n\nVocê é um **Engenheiro de Conhecimento Médico Sênior** especializado em Medicina Funcional e Integrativa. Sua função é alimentar uma Base de Conhecimento de IA (RAG) de alta precisão.\n\n**CONTEXTO:**\n\nVocê receberá transcrições ou conteúdos de vídeos (principalmente da Dra. Katia Haranaka e Dr. Guilherme Freccia). Esses vídeos contêm \"pérolas\" de conhecimento misturadas com conversas casuais. Seu trabalho é minar essas pérolas e transformá-las em **Cards de Conhecimento Atômico**.\n\n**OBJETIVO:**\n\nTransformar o conteúdo bruto em documentos Markdown curtos, densos e focados em um único conceito, metáfora ou protocolo.\n\n\n**REGRAS DE OURO:**\n\n1.  **Atomocidade:** Se o vídeo fala de \"Tireoide\" e depois de \"Fígado\", crie DOIS documentos separados. Não misture assuntos.\n\n2.  **Foco no \"Porquê\" e \"Como\":** Os números exatos (ex: \"Insulina < 8\") já estão no nosso banco de dados SQL. O seu foco aqui é a **EXPLICAÇÃO**, a **METÁFORA** e o **RACIOCÍNIO CLÍNICO**.\n\n3.  **Preserve a Voz:** Mantenha as metáforas originais do especialista (ex: \"Carriola da insulina\", \"Fígado inchado\", \"Estacionamento de carros\"). Isso dá personalidade à IA.\n\n4.  **Zero Ruído:** Remova saudações (\"Oi gente\"), pedidos de like, propagandas ou histórias pessoais sem valor clínico.\n\n5.  **Formato Estrito:** Use o template Markdown abaixo para cada conceito extraído.\n\n---\n\n**TEMPLATE DE SAÍDA (Para cada conceito extraído):**\n\n# [TÍTULO: Use um nome descritivo ou a metáfora usada]\n\n**Tags:** #[tag1] #[tag2] #[tag3]\n\n**Categoria:** [Metabolismo / Hormonal / Hepático / Renal / Estilo de Vida]\n\n**Fonte Original:** [Nome do Vídeo ou Especialista]\n\n> **Resumo (TL;DR):** [Uma frase de impacto que resume o conceito]\n\n### 🧠 Explicação Detalhada\n\n[Texto dissertativo, claro e didático. Explique a fisiologia por trás do conceito como se estivesse ensinando um aluno de medicina ou um paciente interessado. Use as metáforas do especialista aqui.]\n\n### 🛠️ Aplicação Prática / Protocolo\n\n* **O que fazer:** [Ação sugerida]\n\n* **O que evitar:** [O que não fazer]\n\n* **Sinal de Alerta:** [Quando se preocupar]\n\n---\n\n*(Se houver outro conceito no mesmo vídeo, insira um separador e repita o template)*"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        4272,
        1104
      ],
      "id": "aec0c1a8-2ffd-4ae4-991e-c843fb37e02a",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "content": "## youtube channels",
        "height": 576,
        "width": 5328
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1056
      ],
      "typeVersion": 1,
      "id": "ccaa80d9-a956-4da2-883b-483fb44335b1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/karamelo~youtube-transcripts/runs",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "YOUR_APIFY_API_TOKEN_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"channelIDBoolean\": true,\n    \"channelNameBoolean\": true,\n    \"commentsBoolean\": false,\n    \"datePublishedBoolean\": true,\n    \"dateTextBoolean\": false,\n    \"descriptionBoolean\": false,\n    \"keywordsBoolean\": false,\n    \"likesBoolean\": false,\n    \"maxRetries\": 8,\n    \"outputFormat\": \"singleStringText\",\n    \"proxyOptions\": {\n        \"useApifyProxy\": true,\n        \"apifyProxyGroups\": [\n            \"BUYPROXIES94952\"\n        ]\n    },\n    \"relativeDateTextBoolean\": false,\n    \"thumbnailBoolean\": false,\n    \"urls\": [\n        \"{{ $json.link }}\"\n    ],\n    \"viewCountBoolean\": false\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3056,
        1104
      ],
      "id": "584ff7cd-cef5-43be-865d-7d3dadb1bed7",
      "name": "request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "98bced3e-cfbd-4a7b-818e-a60d9062e288",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "SUCCEEDED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3664,
        1168
      ],
      "id": "fe645590-4fce-4d32-92fc-621c0673e076",
      "name": "If2"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4048,
        1232
      ],
      "id": "f3fd8675-b5eb-45b6-8a30-039e743f926e",
      "name": "Wait2",
      "webhookId": "c7aaea0a-a2b1-41ed-bec7-735c287993f9"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/acts/{{ $json.data.actId }}/runs/{{ $json.data.id }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3424,
        1168
      ],
      "id": "0567071b-1f08-4956-a9f9-adf85543ffbe",
      "name": "getresult1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        4256,
        1296
      ],
      "id": "82564cbe-28e9-4c46-afc4-2e39942c5630",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "MfxjNStNEidHCOmt",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.output }}",
        "name": "={{ $('HTTP Request2').item.json.title }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1RS-h5FSgDxCQrQNHudsBOaA-t0L-mNQB",
          "mode": "url"
        },
        "options": {
          "convertToGoogleDocument": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4624,
        1104
      ],
      "id": "8dc5eced-9edd-4287-98a7-b9775e5a62ca",
      "name": "Create file from text",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mfdhEralIKUc7I6T",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4048,
        1088
      ],
      "id": "c201f876-85b3-482d-a20a-4eb698870a68",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "FpUYejpHwoB0k5dB",
          "mode": "list",
          "cachedResultName": "Adrew Huberman Videos",
          "cachedResultUrl": "/projects/UWRCSD4yjnTE7L3p/datatables/FpUYejpHwoB0k5dB"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "video_id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1168,
        1296
      ],
      "id": "f66d05b3-f406-4d2b-acec-e55ffba4c3a6",
      "name": "If row does not exist",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "FpUYejpHwoB0k5dB",
          "mode": "list",
          "cachedResultName": "Adrew Huberman Videos",
          "cachedResultUrl": "/projects/UWRCSD4yjnTE7L3p/datatables/FpUYejpHwoB0k5dB"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "video_id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.title }}",
            "link": "={{ $json.link }}",
            "pubDate": "={{ $json.pubDate }}",
            "video_id": "={{ $json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "pubDate",
              "displayName": "pubDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "video_id",
              "displayName": "video_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1856,
        1408
      ],
      "id": "86ede607-d874-4a71-902d-de4d9caa9c53",
      "name": "Upsert row(s)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9bb893d-720f-4a24-9df3-fa76d57764ea",
                    "leftValue": "={{ $json.link }}",
                    "rightValue": "shorts",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "26035255-1707-4c27-b7f9-4fc564b31971",
                    "leftValue": "={{ $json.link }}",
                    "rightValue": "shorts",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "shorts"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        2704,
        1184
      ],
      "id": "83ca2ab2-7047-48c7-8a49-595ba0b35f47",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "FpUYejpHwoB0k5dB",
          "mode": "list",
          "cachedResultName": "Adrew Huberman Videos",
          "cachedResultUrl": "/projects/UWRCSD4yjnTE7L3p/datatables/FpUYejpHwoB0k5dB"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "video_id",
              "keyValue": "={{ $('Switch').item.json.video_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processed": "1"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pubDate",
              "displayName": "pubDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "video_id",
              "displayName": "video_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        5344,
        1296
      ],
      "id": "46cf3b33-b3a3-4037-ab04-c0d1b35efe9d",
      "name": "Update row(s)"
    },
    {
      "parameters": {
        "url": "https://www.youtube.com/feeds/videos.xml?channel_id=UC2D2CMWXMOVWx7giW1n3LIg",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        288,
        1280
      ],
      "id": "804e31ab-f511-43c8-8c3a-713b42c42f2f",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        32,
        1280
      ],
      "id": "7eddbe08-e382-4bf9-a7e4-ebfa4944ffff",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4864,
        1104
      ],
      "id": "7f9516b5-e65a-4289-8e45-f133997959a3",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "mfdhEralIKUc7I6T",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://medical.blackboxinovacao.com.br/api/admin/knowledge/auto-upload",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5104,
        1104
      ],
      "id": "8450774f-dc42-4aff-a1cd-282da512a4c8",
      "name": "HTTP Request3",
      "credentials": {
        "httpBearerAuth": {
          "id": "7CvMth9HmoaNpchV",
          "name": "Medical Ai"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        816,
        1280
      ],
      "id": "de42e021-636f-4ab7-80f8-9dcb7fbed92c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2080,
        1152
      ],
      "id": "c530625c-0797-4c7c-9f8c-1a45670be272",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.isEmpty()}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "0cdd4cd3-424a-4222-811a-26730c659ebd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "vazio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b2d469c3-7853-4b63-af6f-36759bf1471a",
                    "leftValue": "={{$json.isEmpty()}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1424,
        1296
      ],
      "id": "58721312-f393-451c-9003-a225d515e30c",
      "name": "Switch1"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "FpUYejpHwoB0k5dB",
          "mode": "list",
          "cachedResultName": "Adrew Huberman Videos",
          "cachedResultUrl": "/projects/UWRCSD4yjnTE7L3p/datatables/FpUYejpHwoB0k5dB"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "video_id",
              "keyValue": "={{ $('Upsert row(s)').item.json.video_id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processed": "1"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "pubDate",
              "displayName": "pubDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "video_id",
              "displayName": "video_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        3056,
        1296
      ],
      "id": "b2d87479-014f-4989-a9bb-8cecc198c9eb",
      "name": "Update row(s)1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "b14fb631-815b-4a91-83d6-e3946d7bea5b",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2352,
        1168
      ],
      "id": "b8981548-a718-44ee-bcc5-654e940eacb6",
      "name": "If1"
    },
    {
      "parameters": {
        "amount": 0.5
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1664,
        1280
      ],
      "id": "e08eed32-9e35-48b0-87bd-2b57b4fc2442",
      "name": "Wait",
      "webhookId": "67a5e20b-8f21-45c0-8b9d-2f2c621af233"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e831845-6656-4e45-9bc8-072ff0d2f108",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "511158d4-227c-4c11-b7dc-d69f0a56c5de",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "b318440d-a8a3-42fc-a5e6-f950760c9cb9",
              "name": "author",
              "value": "={{ $json.author }}",
              "type": "string"
            },
            {
              "id": "ac46e928-1aeb-4c34-885e-db705040c222",
              "name": "id",
              "value": "={{ $json.id.match(/yt:video:(.*)/).last() }}",
              "type": "string"
            },
            {
              "id": "32c838a8-722d-454b-9c38-02aef1276634",
              "name": "pubDate",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        1280
      ],
      "id": "68a49dc8-c84a-405e-8ac9-29d4f83aeeff",
      "name": "Edit Fields2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        1504
      ],
      "id": "dd357edc-7526-417a-a605-fc9790972b53",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Create file from text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "request1": {
      "main": [
        [
          {
            "node": "getresult1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "getresult1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getresult1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create file from text": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row does not exist": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update row(s)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If row does not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row(s)1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "6553771e3116c1e2832be1fafe191f5e86ec3661ec727ff2272cb440fb9c5a36"
  }
}